@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nunito&display=swap");

:root {
  --color-primary: #dde6ed;
  --color-secondary: #9db2bf;
  --color-quaternary: #07051c;
  --color-tertiary: #272a4d;
  --font-size-body: 20px;
}

body {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: var(--font-size-body);
}
